<ul class="full-list">
    <li><span class="red">New study options</span>
        <ul>
            <li {% if page.url == "/outcomes/activities/edf5674/" %}class="current"{% endif %}><a href="/outcomes/activities/edf5674/"><img src="/img/thumbnails/edf5674.jpg" alt="">Engaging with practices of contemporary science</a></li>
            <li {% if page.url == "/outcomes/activities/inquiry-science/" %}class="current"{% endif %}><a href="/outcomes/activities/inquiry-science/"><img src="/img/thumbnails/inquiry-science.jpg" alt="">Inquiry science</a></li>
            <li {% if page.url == "/outcomes/activities/sci3910/" %}class="current"{% endif %}><a href="/outcomes/activities/sci3910/"><img src="/img/thumbnails/sci3910.jpg" alt="">Schools science project</a></li>
            <li {% if page.url == "/outcomes/activities/science-in-schools/" %}class="current"{% endif %}><a href="/outcomes/activities/science-in-schools/">Science in Schools</a></li>
            <li {% if page.url == "/outcomes/activities/mteach-specialisations/" %}class="current"{% endif %}><a href="/outcomes/activities/mteach-specialisations/">Science and maths specialist pathways in Masters of Teaching (Primary)</a></li>
        </ul>
    </li>
    <li><span class="green">Additional Experiences</span>
        <ul>
            <li {% if page.url == "/outcomes/activities/amspp/" %}class="current"{% endif %}><a href="/outcomes/activities/amspp/"><img src="/img/thumbnails/asmpp.jpg" alt="">AMSPP collaboration</a></li>
            <li {% if page.url == "/outcomes/activities/back-to-school/" %}class="current"{% endif %}><a href="/outcomes/activities/back-to-school/"><img src="/img/thumbnails/back-to-school.jpg" alt="">Back to school</a></li>
            <li {% if page.url == "/outcomes/activities/discovery-stem-initiative/" %}class="current"{% endif %}><a href="/outcomes/activities/discovery-stem-initiative/"><img src="/img/thumbnails/discovery-STEM-Initiative.jpg" alt="">Discovery STEM initiative</a></li>
            <li {% if page.url == "/outcomes/activities/mstie/" %}class="current"{% endif %}><a href="/outcomes/activities/mstie/"><img src="/img/thumbnails/mstie.jpg" alt="">Multidisciplinary Science and Technology in Education collaboration</a></li>
            <li {% if page.url == "/outcomes/activities/representing-scientific-practice/" %}class="current"{% endif %}><a href="/outcomes/activities/representing-scientific-practice/"><img src="/img/thumbnails/" alt="">Representing scientific practice at the Institute for Frontier Materials</a></li>
            <li {% if page.url == "/outcomes/activities/spies/" %}class="current"{% endif %}><a href="/outcomes/activities/spies/"><img src="/img/thumbnails/spies.jpg" alt="">Scientists as Partners in Education</a></li>
            <li {% if page.url == "/outcomes/activities/science-squad/" %}class="current"{% endif %}><a href="/outcomes/activities/science-squad/"><img src="/img/thumbnails/" alt="">Science Squad</a></li>
        </ul>
    </li>
</ul>