<ul class="full-list">
    <li><span class="red">New study options</span>
        <ul>
            <li {% if page.url == "/outcomes/edf5674/" %}class="current"{% endif %}><a href="/outcomes/EDF5674/"><img src="/img/thumbnails/edf5674.jpg" alt="">Engaging with practices of contemporary science</a></li>
            <li {% if page.url == "/outcomes/inquiry-science/" %}class="current"{% endif %}><a href="/outcomes/inquiry-science/"><img src="/img/thumbnails/inquiry-science.jpg" alt="">Inquiry science</a></li>
            <li {% if page.url == "/outcomes/sci3910/" %}class="current"{% endif %}><a href="/outcomes/SCI3910/"><img src="/img/thumbnails/sci3910.jpg" alt="">Schools science project</a></li>
            <li {% if page.url == "/outcomes/science-in-schools/" %}class="current"{% endif %}><a href="/outcomes/science-in-schools/">Science in Schools</a></li>
            <li {% if page.url == "/outcomes/mteach-specialisations/" %}class="current"{% endif %}><a href="/outcomes/mteach-specialisations/">Science and maths specialist pathways in Masters of Teaching (Primary)</a></li>
        </ul>
    </li>
    <li><span class="green">Additional Experiences</span>
        <ul>
            <li {% if page.url == "/outcomes/amspp/" %}class="current"{% endif %}><a href="/outcomes/amspp/"><img src="/img/thumbnails/asmpp.jpg" alt="">AMSPP</a></li>
            <li {% if page.url == "/outcomes/back-to-school/" %}class="current"{% endif %}><a href="/outcomes/back-to-school/"><img src="/img/thumbnails/back-to-school.jpg" alt="">Back to school</a></li>
            <li {% if page.url == "/outcomes/discovery-stem-initiative/" %}class="current"{% endif %}><a href="/outcomes/discovery-stem-initiative/"><img src="/img/thumbnails/discovery-STEM-Initiative.jpg" alt="">Discovery STEM initiative</a></li>
            <li {% if page.url == "/outcomes/inquiry-science/" %}class="current"{% endif %}><a href="/outcomes/inquiry-science/"><img src="/img/thumbnails/discovery-STEM-Initiative.jpg" alt="">Discovery STEM initiative</a></li>
        </ul>
    </li>
    <li><span class="purple">Exemplars and resources</span>
        <ul>
            <li {% if page.url == "" %}class="current"{% endif %}><a href="" {% if page.url == "" %}class="current"{% endif %}><img src="/img/thumbnails/contemporaryvcebiology.jpg" alt="">Contemporary VCE Biology</a></li>
            <li {% if page.url == "" %}class="current"{% endif %}><a href="" {% if page.url == "" %}class="current"{% endif %}><img src="/img/thumbnails/maths-videos.jpg" alt="">Maths videos</a></li>
        </ul>
    </li>
</ul>