.activity-nav {
    position: relative;
    max-width: 100%;
    display: -ms-flexbox; /* for ie10 */
    -ms-flex-pack: justify; /* for ie10 */
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin: -2em 0 3em 0;
    &.open {
        z-index: 1200;
    }
    li {
        list-style: none;
        a.list:after {
            display: inline-block;
            width: 1em;
            height: 1em;
            font-family: "fontawesome";
            content: "\f067";
            transition: transform 1s;
            margin-left: 3px;
        }
        a.list.open:after {
            transform: rotate(315deg);
            transform-origin: center;
        }
    }
    &> li {
        margin: 0;
        padding: 0.5em;
        line-height: 1;
    }
    .full-list {
        @include clearfix;
        display: none;
        position: absolute;
        width: 100%;
        max-width: 100%;
        left: 0;
        top: 2em;
        background: rgb(176, 232, 220);
        background: rgba(176, 232, 220, 0.95);
        box-shadow: 20px 10px rgba(176, 232, 220, 0.95), -20px 10px rgba(176, 232, 220, 0.95), 20px -10px rgba(176, 232, 220, 0.95), -20px -10px rgba(176, 232, 220, 0.95);
        padding: 0;
        margin: 1em 0;
        > li {
            display: block;
            padding: 0.5em 0;
            margin-top: 1em;
            > a {
                display: block;
                padding-top: 1em;
                padding-bottom: 1em;
            }
            ul {
                padding: 0;
                margin-top: 1em;
                @include outer-container;
                display: flex;
                flex-wrap: wrap;
            }
            li {
                @include span-columns(6);
                text-align: center;
                margin-top: 1.6em;
                margin-bottom: 0;
                padding: 0;
                background: rgba(234, 234, 224, 0.95);
                &:nth-child(2n) {
                    margin-right: 0;  
                }
                &:nth-child(2n+1) {
                    clear: both;
                }
                @media only screen and (min-width: em(640)) {
                    @include span-columns(3);
                    &:nth-child(2n) {
                        margin-right: flex-gutter();  
                    }
                    &:nth-child(2n+1) {
                        clear: none;
                    }
                    &:nth-child(4n) {
                        margin-right: 0;  
                    }
                    &:nth-child(4n+1) {
                        clear: both;
                    }
                }
                &.current {
                    box-shadow: -10px -10px $green; 
                }
                a {
                    position: relative;
                    display: block;
                    line-height: 1.4;
                    padding: 60% 0.3em 0.5em 0.3em;
                    border: none;
                    img {
                        width: 100%;
                        position: absolute;
                        top: 0;
                        left: 0;
                    }
                }
            }
        }
        .red,
        .green,
        .purple {
            color: #fff;
            background: $red;
            padding: 5px 30px 5px 15px;
            position: relative;
            &:before {
                content: "";
                width: 0; 
                height: 0; 
                border-left: 30px solid transparent;
                border-right: 0px solid transparent;
                border-top: 10px solid rgba(176, 232, 220, 1);
                position: absolute;
                top: 0;
                right: 0;
            }
        }
        .green {
            background: $green;
        }
        .purple {
            background: $purple;
        }
    }
    &.in-page {
        z-index: 0;
        margin-top: 1em;
        .full-list {
            position: static;
            display: block;
            background: none;
            box-shadow: none;
            > li {
                //padding: 0.5em 0;
            }
            .red,
            .green,
            .purple {
                &:before {
                    border-top: 10px solid #fff;
                }
            }
        }
    }
}