/*** base styles ***/

/* apply a natural box layout model to all elements, but allowing components to change */
html {
    box-sizing: border-box;
}
*,
*:before,
*:after {
    box-sizing: inherit;
}

/* flexible media */
img,
iframe {
    max-width: 100%;
}

img.border {
    border: 1px solid #eee;
}

/*** links ***/

a {
    text-decoration: none;
    color: $linkblue;
    border-bottom: 1px dotted;
    &:visited {
        color: $linkblue;
    }
    &:hover {
        color: $green;
    }
    &[rel="external"] {
        &:after {
            content: "\f08e";
            font-family: FontAwesome;
            margin-left: .5em;
            vertical-align: middle;
            font-style: normal;
        }
    }
    &.info {
        &:after {
            content: "\f05a";
            font-family: FontAwesome;
            margin-left: .5em;
            vertical-align: middle;
            border-bottom: none;
        }
    }
    &.goto {
        &:after {
            content: "\f054";
            font-family: FontAwesome;
            margin-left: .5em;
            vertical-align: middle;
        }
    }
}