/*** typography ***/

body {
    font-family: 'Roboto', 'Helvetica Neue', Arial, Helvetica, sans-serif;
    font-weight: 300;
}
h1 {
    font-family: 'Roboto Slab', Georgia, sans-serif;
    font-size: 2em;
    font-weight: 300;
    color: $green;
    margin: 1em 0 0 0;
    line-height: 1.2;
}
.page-title {
    h1,
    p.h1 {
        font-family: 'Roboto', 'Helvetica Neue', Arial, Helvetica, sans-serif;
        font-size: 1.8em;
        font-weight: 300;
        color: #444;
        margin: 1em 0 0 0;
        line-height: 1.2;
        text-transform: none;
        @media only screen and (min-width: em(465)) {
            font-size: 2.25em; //36px;
        }
    }
}
h2 {
    font-size: 2.5em; //40px
    font-weight: 300;
    margin: 2em 0 0 0;
    color: $purple;
}
h3 {
    color: $green;
    font-weight: 300;
    font-size: 1.6em;
    margin: 2em 0 0.5em 0;
}
h4 {}
h5 {}
h6 {}
p {
    font-size: 1.125em; //18px
    max-width: 835px;
    line-height: 1.6;
    &.intro {
        font-size: 1.375em; //22px
        color: $green;
    }
    .first-letter {
        color: $lightgreen;
        float: left;
        font-family: 'Roboto Slab', Georgia;
        font-weight: 300;
        font-size: 4.75em;
        line-height: 0.99;
        padding-top: 0px;
        padding-right: 8px;
        padding-left: 3px;
        margin-top: -0.05em;
    }
}
ul,
ol {
    padding: 0 0 0 20px;
    margin: 2em 0 2em 2em;
    max-width: 835px;
}
li {
    margin-bottom: 0.8em;
    padding-left: 20px;
    ol, ul {
            margin: 1em 0 1em 0;
    }
    li {
        font-size: 1em;
    }
}
figure {
    display: inline-block;
    margin: 1em 0;
    &.block {
        display: block;
        margin: 3em 0;
        figcaption {
            text-align: center;
        }
    }
    &.border {
        border: 1px solid #eee;
    }
}
figcaption {
    font-size: 0.875em;
    font-weight: 500;
}
figure.horizontal {
    @include clearfix;
    img {
        width: 50%;
        float: left;
    }
    figcaption {
        width: 50%;
        float: left;
        padding: 20px 0 0 20px;
    }
}
.right-align {
    text-align: right;
}
ul.unstyled,
ol.unstyled {
    margin: 0;
    padding: 0;
    list-style: none;
}
strong,
b {
    font-weight: 500;
    color: #555;
}
.large-text b {
    color: $green;
}
.centered {
    text-align: center;
    p,
    ul,
    ol {
        margin-left: auto;
        margin-right: auto;
    }
}
blockquote {
    position: relative;
    quotes: "\201C""\201D""\2018""\2019";
    margin: 4em 0 4em auto;
    min-width: 320px;
    max-width: 620px;
    img {
        float: right;
        border-radius: 50%;
        width: 150px;
        &+p {
            min-height: 150px;
        }
    }
    p {
        margin: 0 0 0.2em 0;
        padding-bottom: 0.5em;
        padding-left: 2em;
        color: $purple;
        font-size: 1.6em;
        font-style: italic;
        font-weight: 100;
        &:before {
            content: open-quote;
            color: $purple;
            font-size: 4em;
            line-height: 0.1em;
            /*margin-right: 0.25em;
            margin-left: -0.6em;*/
            vertical-align: -0.4em;
            font-family: impact, sans-serif;
            opacity: 0.3;
            overflow: visible;
            position: absolute;
            top: 20px;
            left: -5px;
            width: 1em;
            height: 1em;
        }
        
        &:after {
            content: close-quote;
            color: $purple;
            font-family: helvetica, sans-serif;
        }
    }
    footer {
        margin-left: 4em;
        padding-top: 4px;
        border-top: 1px solid $purple;
        color: $purple;
        text-align: right;
        font-size: 14/16*1em;
        font-style: normal;
        font-weight: 500;
        cite {
            font-style: normal;
        }
    }
    @media only screen and (min-width: em(588)) {
        margin: 4em 0 8em auto;
    }
}
hr {
    margin: 6em 0;
}
.large-text {
    h2 {
        text-align: center;
        font-family: 'Lemon', cursive;
        font-weight: 400;
        font-size: 3em;
        margin: 2em 0 0.5em 0;
        color: rgb(240, 217, 0);
    }
    p {
        font-size: 1.375em; //22px
        &.extra-right-space {
            margin-right: 29%;
        }
    }
    li {
        font-size: 1.375em; //22px
        ol, ul {
            margin: 1em 0 1em 0;
        }
        li {
            font-size: 1em;
        }
    }
}