.report {
    max-width: 265px;
    border: 1px solid #eee;
    margin-top: 1em;
    margin-bottom: 1em;
    &:before {
        content: "\f15c";
        font-family: "fontawesome";
        font-size: 4em;
        display: block;
        text-align: center;
        background: rgba(234, 234, 224, 0.95);
        padding: 0.25em 0;
    }
    .content {
        padding: 0.5em;
    }
}
.activity-learn-more {
    @media only screen and (min-width: em(600)) {
        .report {
            @include span-columns(3 of 9);
        }
        .video {
            @include span-columns(6 of 9);
        }
    }
    @media only screen and (min-width: em(900)) {
        .report {
            @include span-columns(3);
        }
        .video {
            @include span-columns(6);
        }
    }
}